/* Main */
#cflk-available-lists p {
	margin: 2px 0;
}
#cflk-available-lists p.submit {
	margin: 0;
	padding: 0;
}
#cflk-available-lists .cflk-list-title {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.2em;
}
#cflk-available-lists .cflk-showhide {
	visibility: hidden;
}
#cflk-available-lists .cflk-details {
	margin: 0;
	padding: 3px 10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#E4F2FD;
	border:1px solid #C6D9E9;
}
#cflk-available-lists .cflk-details ul {
	margin: 5px 0;
}
#cflk-available-lists .cflk-details ul li {
	margin: 0;
	padding: 1px;
	list-style: none outside;
}
#cflk-available-lists .cflk-description {
	background:#FFF;
	padding:10px;
	margin:0 0 10px 0;
}
#cflk-available-lists .cflk-description-items {
	
}
#cflk-available-lists .cflk-description-item {
	display:inline-block;
	width:120px;
}

/* NOTICE */
#cflk-notice code {
	background: none;
	font-size: 1.1em;
}

/* EDIT */
/* Sortable List */
.sortable-wrapper {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px; /* Standard. IE9 */
	padding: 10px 12px 12px 12px;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
}
.lbl-pos-left .sortable-wrapper {
	margin-left: 20%;
}
.sortable-wrapper ul {
	margin: 0;
	padding: 0;
}
.sortable-wrapper ul li {
	padding: 0;
}
.sortable-wrapper ul li ul {
	margin-left: 20px;
}
.ui-sortable-helper {
	width:450px;
}

.menu-item-depth-0 { 
	margin-left: 0px; 
}
.menu-item-depth-1 { 
	margin-left: 30px; 
}
.menu-item-depth-2 { 
	margin-left: 60px; 
}
.menu-item-depth-3 { 
	margin-left: 90px; 
}
.menu-item-depth-4 { 
	margin-left: 120px; 
}
.menu-item-depth-5 { 
	margin-left: 150px; 
}
.menu-item-depth-6 { 
	margin-left: 180px; 
}
.menu-item-depth-7 { 
	margin-left: 210px; 
}
.menu-item-depth-8 { 
	margin-left: 240px; 
}
.menu-item-depth-9 { 
	margin-left: 270px; 
}
.menu-item-depth-10 { 
	margin-left: 300px; 
}
.menu-item-depth-11 { 
	margin-left: 330px; 
}

.sortable-placeholder {
	height: 35px;
	width: 410px;
	margin-top: 13px;
}

/* Over ride default WP styles */
.menu-item-handle {
	background: none !important;
}

/* Box styles for item-view and item-edit */
.item-view,
.item-edit {
	border: 1px solid #e6e6e6;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	padding: 6px 8px;
	position: relative;
	width: 450px;
}
.item-view {
	background: #eee url(../img/drag-handle.gif) right center no-repeat;
}
.item-view:hover,
.item-edit {
	background-color: #f9f9f9;
}
.item-edit {
	padding: 2px 8px;
}

/* View mode */
.item-view p {
	margin: 0;
}
.item-view .item-title {
	font-size: 13px;
}
.item-view .item-info {
	color: #999;
	font-size: 11px;
	line-height: 13px;
}
.item-view .item-info span {
	margin: 0 3px;
}
.item-view .item-actions {
	font-size: 10px;
	line-height: 1em;
	position: absolute;
	right: 30px;
	top: 15px;
}

/* Edit mode */
.item-edit {
	position: relative;
}
.item-edit .elm-block {
	margin: 6px 0;
}
.item-edit .edit-done,
.item-edit .edit-remove {
	position: absolute;
	right: 12px;
}
.item-edit .edit-done {
	top: 10px;
}
.item-edit .edit-remove {
	bottom: 10px;
	font-size: 10px;
}

.cflk-new-edit-form {
	display:none;
}

/* Popup CSS */
.cflk-popup {
	background: #FFFFFF;
	border: 2px solid #1B1B1B; /* 1b1b1b */
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}
.cflk-popup-close {
	float:right;
}
.cflk-popup-body-foot {
	margin:10px 0 0;
}
.cflk-popup-body-foot .cflk-popup-close {
	float:none;
}
.cflk-popup-head {
	background-color:#DFDFDF;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding:10px 20px;
}
.cflk-popup-head h2 {
	margin:0;
}

.cflk-popup-content {
	padding:20px;
}
